<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input type="text" id="nombre" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed" id="apellido">Apellido</ion-label>
      <ion-input id="apellido" type="text" [(ngModel)]="last"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Ocupación</ion-label>
      <ion-input id="ocupacion" type="text" [(ngModel)]="profession"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)="enviar()">enviar</ion-button>
  </div>
</ion-content>
